---
import ListTitle from '../../components/ListTitle.astro';
import {getCollection} from 'astro:content';
const posts = await getCollection('golangBlog');
const blogContent ={
    type:'golangBlog',
    title:'从GO到K8S'
}
---
<div class="blog-list">
    <ListTitle type={blogContent.type} title={blogContent.title}/>
    <ul>
        {posts.map(post => (
                <a href={`/blog/${post.slug}`}>
                    <li class="item">
                        <img alt="blog" src="/src/assets/bookmark.svg" width="24" height="24"/>
                        <div>{post.data.title}</div>
                        <div class="time">{post.data.date}</div>
                    </li>
                </a>
        ))}
    </ul>
</div>

<style lang="scss">
  .blog-list {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 0;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin: 0 auto;
      width: fit-content;
    }

    ul {
      a {
        text-decoration: none;
        color: inherit;
      }

      .item {
        padding: 5px 10px;
        list-style: none;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        border-radius: 2px;
        background-color: #f0f0f0;
        margin: 4px 0;

        .time {
          margin-left: auto;
        }
      }

      .item:hover {
        background: #E5E5E5;
      }
    }

  }

</style>