---
import "../../styles/global.css"
import blogIcon from '../../assets/bookmark.svg'
import ListTitle from '../../components/ListTitle.astro';
import {getCollection} from 'astro:content';
import BlogLayout from "../../layouts/BlogLayout.astro";
const posts = await getCollection('golangBlog');
const blogContent = {
    type: 'golangBlog',
    title: '从GO到K8S'
}
---
<BlogLayout title={blogContent.title}>
    <section
            class="bg-yellow-50 max-w-5xl mx-auto px-4 py-5 gap-4 text-base sm:text-2xl md:text-2xl h-screen overflow-auto">
        <ListTitle type={blogContent.type} title={blogContent.title}/>
        <ul class="list-none">
            {posts.map(post => (
                    <a href={`/blog/${post.slug}`}>
                        <li class="flex justify-items-start items-center gap-2 py-1 sm:text-base">
                            <img alt="blog" src={blogIcon.src} class="w-5 h-5"/>
                            <div>{post.data.title}</div>
                            <div class="ml-auto">{post.data.date}</div>
                        </li>
                    </a>
            ))}
        </ul>
    </section>
</BlogLayout>
