---
import "../styles/global.css"
// @ts-ignore
import {getIconByType,IconOption} from './options.ts'
const {type,title} = Astro.props;
const icons:IconOption  = getIconByType(type) ?? {beforeIcon:'',afterIcon:'',alt:'',type:''}
const {beforeIcon,afterIcon,alt} = icons;
---
<div class="flex justify-center items-center gap-2 text-base font-bold sm:text-base">
    <img alt={alt} src={beforeIcon} class="sm:w-10 h-10"/>
    {title}
    {afterIcon && <img class="sm:w-10 h-10" alt={alt} src={afterIcon}/>}
</div>
